.star-1{
    color: gold;
    font-size: small;
}
.trash:hover{
    color: red;
}



.footer{
    background-color: rgb(149, 194, 149);
    justify-items: center;
    align-items: center;
}


.footer-icons{
    display: flex;
}
 .footer-icons.f-icons{
    font-size: small;
}

.Subscribe{
    padding: 15px;
    color: white;
    background-color: black;
}
.Subscribe:hover{
    color: black;
    background-color: white;
}

 .pictuer-1{
    position: relative;
}
.top-img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.7s ease;
}
.top-img:hover{
    opacity: 1;
}
.social-icons{
    position: relative;
    justify-content: center;
    text-align: center;
    border: 5px solid red;
   
}
.social-icons .a  .i{
    position: absolute;
    border: 10px;
    background-color: green;
    color: black;
    
}





.button-1{
    color: white;
    background-color: green;
}
.button-1:hover{
    color: green;
    background-color: white;
}
.button-2{
    color: white;
    background-color: rgb( 25, 135, 84);
}
.button-2:hover{
    border-color: green;
}
.account-1{
    border: 1;
}
.account-1{
    border: 10px;
}
.accountbutton-1{
    color: rgb( 25, 135, 84);
    background-color: white;
    width: 25;
}
.accountbutton-1:hover{
    color: white;
    background-color: rgb( 25, 135, 84);
}


/* this is the second imge  */
.card-2{
    position: relative;
}

.img-top-2{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.img-top-2:hover{
    opacity: 1;
}
 

/* this for the pratices propuse */
/* this for the second card and with the icons starts */
.card-2{
    position: relative;
}
.card-2 img{
    width: 100%;
    height: 100%;
}
.top-img-2{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.top-img-2:hover{
    opacity: 1;
}
.three-icons a{
    background-color: white;
    padding: 15px;
    margin-left: 5px;
    border-radius: 50%;
}
.three-icons a::before{
    content: attr(data-social);
    position: absolute;
    background-color:rgb( 25, 135, 84) ;
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 100px;
    width: auto;
    height: auto;
    transform: translateY(0) rotate(25deg);
    opacity: 0;
}
.three-icons a:hover{
    background-color:rgb( 25, 135, 84) ;
    color: white;

}
.three-icons a::after{
    content: '';
    position: absolute;
    height:0 ;
    width: 54px;
    /* border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid ; */
    border-color:aqua  ;
    
}    
.three-icons a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}
.three-icons a:hover::after{
    transform: translateY(-42px)rotate(0);
}



/* this for the second card and with the icons ends */


/* the two imge ofs the deals starts */
.two-cards{
    height: 100%;
    width: 100%;
    display: flex;
    margin: 50px;


    
}
.two-cards img{
    width: 100%;
    height: 100%;
    margin-left: 10px;
    padding-left: 30px;

}

/* in it the text putting  */
.two-cards{
    position: relative;
}
.deal-text{
    position: absolute;
    top: 0%;
    left: 5%;
}


/* .two-cards{
    position: relative;
} */
.deal-text-2{
    position: absolute;
    top: 0;
    /* left: 100; */
    right: 40;
   
}
/* putting color for the offer in teh deals */
.pink{
    color: rgb(232, 79, 104);
}

/* the two imge of teh deals ends here */
/* the edting the of the four icons stats */
.footer-icons img {
    width: 30px;
    height: 30px;
}


/* the edting the of the four icons ends */
/* the header icons  */
.header-icons i{
    margin: 5px;
    font-size: large;
}
/* places come lord places help me for this  */
.places-come{
    position: absolute;
    top: 0;
    left: 50;
}
/* sfsdfgdggdfjdkjkjfkjsklkfjs */
ul li  {
    list-style: none;
}